
.Headertext
{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btnInfo
{
  border-radius: 4px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 170, 79);
  color: rgb(96, 96, 96);
  letter-spacing: 2px;
  padding: 8px;
  font-size: 13px;
  font-weight: 600;

}