<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Advance Payment List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="tertiary">
        <label>Filter</label>
      </ion-item>
          <div slot="content" style="padding: 5px;">
            <div style="border-radius: 10px;padding: 5px;">
              <div class="row">
                <!-- first field -->
                <div class="col-6">
                    <label class="Headertext">Location Code</label>
                    <ion-item>
                    <ion-select [(ngModel)]="LocationCode" interface="action-sheet">
                      <ion-select-option *ngFor="let location of LocationForJob.Data" [value]="location.Id">
                        {{ location.TEXT }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item> 
                    
                    <!-- <ng-select [items]="LocationForJob.Data"  [(ngModel)]="LocationCode" bindLabel="TEXT" bindValue="Id"  >
                    </ng-select> -->
                </div>
                <!-- 2nd field -->
                <div class="col-6"> 
                        <label class="Headertext">Mobile Number</label>
                        <input style="width: 100% !important;" type="number" class="form-control"   placeholder="Search Mobile No" [(ngModel)]="MobileNo">
                </div>
              </div>
              <div class="row">
                <!-- 3rd field -->
                <div class="col-6"> 
                        <label class="Headertext">Case Id</label>
                        <input  style="width: 100% !important;"  type="text" class="form-control"   placeholder="Search CaseId" [(ngModel)]="CaseId">
                </div>
                <div class="col-6">
                    <div>
                      <button class="" (click)="GetAdvancePaymentList('', MobileNo, LocationCode, CaseId)">Search</button>
                    </div>
              </div>
              </div>
          </div>   

          </div>
    </ion-accordion>
  </ion-accordion-group> 


<div style="padding: 5px;">
  <div style="border: 1px solid rgb(216, 216, 216); border-radius: 8px;padding: 5px;">

        <!--Start Loop -->
        <div *ngFor="let item of result" class="mt-2">
          <div style="background-color: rgb(255, 255, 255); box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; padding: 5px; border-radius: 5px;">
              <div class="row">
                <div class="col-6">
                  <label style="font-size: 16px; font-weight: 600; letter-spacing: 2px;">{{item.PaymentCode}}</label>
                </div>
                <div class="col-6" style="display: flex;justify-content: end;flex-direction: column;align-items: end;">
                  <label style="font-size: 13px; font-weight: 500; letter-spacing: 2px;">{{item.CreatedDate | date:'shortDate'}}</label>
                  <label style="font-size: 13px; font-weight: 500; letter-spacing: 2px;">{{item.CreatedDate | date:'shortTime'}}</label>
                </div>
              </div>

              <div class="row">

                <div class="col-4">
                  <label style="font-size: 14px; letter-spacing: 2px;">Case ID</label><br>
                  <label style="font-size: 14px;font-weight: 600; letter-spacing: 2px;"> {{item.CaseId}}</label>
                </div>

                <div class="col-4">
                  <label style="font-size: 14px; letter-spacing: 2px;">Customer Code</label><br>
                  <label style="font-size: 14px;font-weight: 600; letter-spacing: 2px;"> {{item.CustomerCode}}</label>
                </div>

                <div class="col-4">
                  <label style="font-size: 14px; letter-spacing: 2px;">Location Code</label><br>
                  <label style="font-size: 14px;font-weight: 600; letter-spacing: 2px;"> {{item.LocationCode}}</label>
                </div>
         
              </div>

              <div class="row">
                  <div class="col-12" style="display: flex;justify-content: end;">
                      <div>
                        <label style="font-size: 16px; letter-spacing: 2px; font-weight: 600;">
                          <i class="fa fa-inr" aria-hidden="true"></i> <span> {{item.TotalPaidAmount}}</span></label>
                      </div>
                  </div>
              </div>

              <div class="row mt-3">
                <div class="col-12" style="display: flex;justify-content: end;">
                    <div> 
                      <button  (click)="openPayment(item)" class="btnInfo">more info</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
 </div> 
</div>
  
 
      <!-- <div class="row" style="align-items: center; padding-left:10px;">
          <div class="col-sm-3">
            <label>Location Code</label>
            <ng-select [items]="LocationForJob.Data"  [(ngModel)]="LocationCode" bindLabel="TEXT" bindValue="Id"
              >
            </ng-select>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
                <label>Customer Code</label>
            <input class="form-control"  type="text" 
            [(ngModel)]="MobileNo" placeholder="Search Customer Code" >
            </div>
            </div>
            <div class="col-sm-3">
                <input  type="text" 
                [(ngModel)]="CaseId" placeholder="Search Case Id" >
            </div>
            <div class="col-sm-3">
                <button class="btn btnClass" style="height: 30px;"    (click)="GetAdvancePaymentList('', MobileNo, LocationCode, CaseId) ">Search <i
                    style="padding-left: 10px;" class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div> -->
        <div class="row">
          <div class="scrollcntr" >
            <div class="contents" style="height: 450px;overflow: auto;">
                <!-- <nitc-grid [gridcolumns]="columns" [dataSource]="detail" [actions]="actionDetails"
                    [hideSpinnerEvents]="hideSpinnerEvent" (actionEvent)="actionEmit($event)"
                    (changeEvent)="PageChange($event)">
                </nitc-grid> -->
                  <!-- <table>
                      <thead >
                      <tr>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Order</b></th>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Confirmation</b></th>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>CreatedDate</b></th>
                      <th style="padding-right: 30px; text-align: center; background-color: rgb(187, 187, 187);" scope="col"><b>Invoice</b></th>
                      <th style="padding-right: 100px;background-color: rgb(187, 187, 187);white-space: nowrap;" scope="col"><b>Part Number</b></th>
                      <th style="padding-right: 100px;background-color: rgb(187, 187, 187);" scope="col"><b>PO Number</b></th>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>ShipTo</b></th>
                      <th style="padding-right: 30px; text-align: center; background-color: rgb(187, 187, 187);" scope="col"><b>Shipping</b></th>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>Status</b></th>
                      <th style="padding-right: 50px;background-color: rgb(187, 187, 187);" scope="col"><b>CreatedBy</b></th>                                                                                               
                      </tr>
                      </thead>
                      <tbody style="white-space: nowrap;">
                      <tr *ngFor="let item of finalPartList">
                      <td > <span ><a href="javascript: void(0);" (click)="openAdvance(item)">{{ item.serviceOrderNumber}}</a> </span></td>
                      <td> <span> {{ item.orderId}} </span></td>
                      <td> <span> {{ item.orderCreateDate}} </span></td>
                      <td style="text-align: center;"> <span> {{ item.invoice}} </span></td>
                      <td> <span> {{ item.partNumber}} </span></td>
                      <td> <span> {{ item.purchaseOrderNumber}} </span></td>
                      <td> <span> {{ item.shipTo}} </span></td>
                      <td  style="text-align: center;"> <span> {{ item.shipped}} </span></td>
                      <td> <span> {{ item.statusCode}} </span></td>
                      <td> <span> {{ item.createdFirstName}} {{ item.createdLastName}} </span></td>
                      </tr>
                      </tbody>
                  </table> -->
            </div>
          </div>
      </div> 

</ion-content>
