.hd_header_heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #3d367e;
    margin-bottom: 4px;
    display: inline-block;
  }
  .hd_header_content
{
  color: black; 
  font-weight: 600;
}