.SaveBtn 
{
    width: 100% !important;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #2eb22e;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    justify-content: center;
}