
 
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">

      <ion-content>
        <ion-list id="inbox-list">
          <div style="display: flex; align-items: center;justify-content: center;flex-direction: column;">
              <div style=" width: 60px;height: 60px;border-radius: 80px;">
                <div><img class="customerIcon" src="/assets/icon/admin.png"></div>

              </div>
              <div>
                  <label style="color: white !important; font-size: 18px;font-weight: 600;" >{{FirstName}} {{LastName}}</label>
              </div>

              <div>
                <label style="text-align: center;color: white; font-size: 15px;">{{username}} </label>
              </div>
        </div>
        

        <!-- <ion-note>WorkScan&#64;ionicframework.com</ion-note> -->



            <div style="border-bottom: 2px solid orange;margin-top: 10px;"></div>

<div style="margin-top: 10px;">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon  color="medium" aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
</div>

          <!-- <ion-menu-toggle auto-hide="false"> -->
            <ion-item >
              <ion-icon  color="medium" (click)="logout()" slot="start" name="exit"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          <!-- </ion-menu-toggle> -->
    <div style="width: 100%;height: 30px;position: absolute;bottom: 0;padding: 10px;display: flex;align-items: center;justify-content: center;">
      <b style="color: rgb(228, 228, 228);">App version - V1.10</b>
    </div>
          
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
