.add-icon
{
  width: 23px; 
  height: 23px;
  background-image: url('/assets/icon/add.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-right: 20px;
}

.close-icon
{
    width: 23px; 
    height: 23px;
    background-image: url('/assets/icon/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    margin-right: 10px;
}